
body {
    padding-top: 60px;
    padding-bottom: 90px;
}
.myFooter {
    background: #ccc;
}

.well {
    background: #fff;
}

    .well:hover {
        background: #eff;
    }

.div-thumbnail {
    background: #ccc;
}


